@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


    <div class="row" style="margin-top:5px;">
        <div class="col-md-2">Descripition</div>
        <div class="col-md-10">
            <textarea name="description" id="description"></textarea>
            <script language="javascript">
                CKEDITOR.replace("description");
            </script>
        </div>
    </div>



