
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HandleExcel</title>
</head>
<body>
    <div>
        <form class="form-inline" action="/Admin/TestExport">
            
            <button type="submit" class="btn btn-primary">Export File</button>
        </form>
    </div>
</body>
</html>
